/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: DM Sans, sans-serif;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

p:not(#card-one > p) {
  margin: 0;
}

.italicised {
  font-style: italic;
}

#card-one {
  grid-area: card-one;
  margin-bottom: -4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(31, 66%, 93%);
  padding-bottom: 1rem;
}
@media (max-width: 375px) {
  #card-one {
    margin-top: 2.3rem;
    margin-bottom: 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    padding: 1.5rem 0 0 1.5rem;
  }
}
#card-one p {
  width: 80%;
  font-size: calc(1.8rem + 0px);
  line-height: calc(1.5rem + 0px);
  letter-spacing: -2.5px;
  font-weight: 500;
  position: relative;
  top: -10%;
}
#card-one p span {
  color: hsl(256, 67%, 59%);
}
@media (max-width: 375px) {
  #card-one p {
    width: 100%;
    font-size: 2.1rem;
    line-height: calc(1.5rem + 0px);
    letter-spacing: calc(-2.5px + 0.009rem);
    font-weight: 550;
  }
}
#card-one #post-button {
  height: 2.3rem;
  display: flex;
  gap: 3%;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 18px;
  border: none;
  background-color: hsl(39, 100%, 71%);
  color: hsl(256, 67%, 59%);
  position: relative;
  top: -2%;
}
@media (max-width: 375px) {
  #card-one #post-button {
    font-size: 1.1rem;
    font-weight: 900;
  }
}
#card-one #post-button i {
  border-radius: 0;
  display: flex;
  align-items: center;
}
#card-one #post-button i svg {
  position: relative;
  bottom: 1px;
  transform: scale(1);
  width: 15px;
  height: 15px;
}
@media (max-width: 375px) {
  #card-one #post-button i svg {
    transform: scale(1.2);
  }
}
#card-one #post-button:hover {
  transform: scale(1.05);
  transition: transform 190ms ease-in-out;
}
#card-one #post-button:hover i svg {
  animation: icon 0.3s linear;
}
@media (max-width: 375px) {
  #card-one #post-button {
    top: 5%;
    width: 50%;
    padding: 1.5rem 0;
    border-radius: 30px;
  }
}

#card-two {
  grid-area: card-two;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(256, 67%, 59%);
  color: white;
}
#card-two * {
  width: 80%;
  text-align: center;
}
@media (max-width: 375px) {
  #card-two * {
    width: 80%;
  }
}
#card-two p,
#card-two img {
  position: relative;
  top: -8px;
}
@media (max-width: 375px) {
  #card-two p,
  #card-two img {
    top: -0.9rem;
  }
}
#card-two p:nth-of-type(1) {
  font-size: 2.5rem;
  line-height: 2.2rem;
}
#card-two p:nth-of-type(1) span:nth-of-type(1) {
  color: hsl(39, 100%, 71%);
}
@media (max-width: 375px) {
  #card-two p:nth-of-type(1) {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
#card-two img {
  width: 35%;
  position: relative;
  top: 0.813rem;
}
@media (max-width: 375px) {
  #card-two img {
    width: 60%;
    top: 0.813rem;
  }
}
#card-two p:nth-of-type(2) {
  font-size: 0.7rem;
  position: relative;
  top: 1.19rem;
}
@media (max-width: 375px) {
  #card-two p:nth-of-type(2) {
    font-size: 1.2rem;
    position: relative;
    top: 1.19rem;
  }
}

#card-three {
  grid-area: card-three;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 10%;
  overflow: hidden;
  background-color: hsl(254, 88%, 90%);
}
@media (max-width: 375px) {
  #card-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-top: -4.5rem;
    margin-bottom: -4.5rem;
    padding: 1rem;
  }
}
@media (376px <= width <= 560px) {
  #card-three {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    grid-template-areas: "text-one image-one" "text-two image-one";
    margin: 0;
    padding: 1rem;
    gap: 0;
  }
}
#card-three p:nth-of-type(1) {
  font-size: 1.4rem;
  line-height: 1.1rem;
  letter-spacing: calc(-2.5px + 0.05rem);
  font-weight: 550;
  width: 100%;
  position: relative;
  top: -3.1rem;
}
@media (376px <= width <= 560px) {
  #card-three p:nth-of-type(1) {
    grid-area: text-one;
    width: 80%;
    position: relative;
    top: 0.5rem;
  }
}
@media (max-width: 375px) {
  #card-three p:nth-of-type(1) {
    top: 0;
    text-align: center;
    font-size: calc(1.8rem + 0px);
    line-height: calc(1.5rem + 0px);
    letter-spacing: calc(-2.5px + 0.009rem);
    font-weight: 550;
  }
}
#card-three img {
  transform: scale(1.65);
  position: relative;
  left: 32.5%;
  top: 2%;
}
@media (max-width: 375px) {
  #card-three img {
    transform: scale(1);
    top: 0;
    left: 0;
  }
}
@media (376px <= width <= 560px) {
  #card-three img {
    grid-area: image-one;
    transform: scale(1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
#card-three p:nth-of-type(2) {
  position: relative;
  top: 4rem;
  line-height: 0.9rem;
  font-size: 0.8rem;
  font-weight: 400;
  width: 95%;
}
@media (376px <= width <= 560px) {
  #card-three p:nth-of-type(2) {
    grid-area: text-two;
    width: 80%;
    position: relative;
    top: -0.5rem;
  }
}
@media (max-width: 375px) {
  #card-three p:nth-of-type(2) {
    top: 0;
    text-align: center;
    font-size: 1.2rem;
  }
}

#card-four {
  grid-area: card-four;
  margin-top: 64px;
  background-color: hsl(39, 100%, 71%);
  padding: 1rem;
  padding-right: 0.313rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}
@media (max-width: 375px) {
  #card-four {
    margin-top: -2.25rem;
    margin-bottom: -1.2rem;
    padding: 1.5rem;
  }
}
#card-four p {
  font-size: calc(1.8rem + 0px);
  line-height: calc(1.5rem + 0px);
  letter-spacing: -2.5px;
  font-weight: 500;
  width: 90%;
}
@media (max-width: 375px) {
  #card-four p {
    font-size: 2.1rem;
    line-height: calc(1.5rem + 0.25em);
    letter-spacing: calc(-2.5px + 0.009rem);
    font-weight: 550;
  }
}
@media (max-width: 375px) {
  #card-four img {
    width: 70%;
  }
}

#card-five {
  grid-area: card-five;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 0.9rem 0.94rem;
  overflow: hidden;
  background-color: white;
}
#card-five p {
  font-size: 1.5rem;
  line-height: 1.25rem;
  letter-spacing: -2.5px;
  font-weight: 550;
}
@media (max-width: 375px) {
  #card-five p {
    width: 100%;
    font-size: calc(1.8rem + 0px);
    line-height: calc(1.5rem + 0px);
    letter-spacing: calc(-2.5px + 0.009rem);
    font-weight: 550;
  }
}
#card-five img {
  transform: scale(1.5);
  position: relative;
  top: 0.5rem;
  left: 25%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.05);
}
@media (max-width: 375px) {
  #card-five img {
    transform: scale(1);
    left: 0;
    top: 0;
  }
}

#card-six {
  grid-area: card-six;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 0.94rem 0 0 0.94rem;
  overflow: hidden;
  background-color: hsl(39, 100%, 71%);
}
@media (max-width: 375px) {
  #card-six {
    margin-bottom: 4.5rem;
  }
}
#card-six p {
  font-size: 1.5rem;
  line-height: 1.28rem;
  letter-spacing: -2.5px;
  font-weight: 500;
  width: 90%;
}
@media (max-width: 375px) {
  #card-six p {
    font-size: calc(1.8rem + 0px);
    line-height: calc(1.5rem + 0px);
    letter-spacing: calc(-2.5px + 0.009rem);
    font-weight: 550;
  }
}
#card-six img {
  width: 4.25rem;
  height: 3.22rem;
  transform: scale(2);
  position: relative;
  left: calc(22% + 0.0625rem);
  top: 12%;
  border-radius: 0;
}
@media (max-width: 375px) {
  #card-six img {
    transform: scale(3.2);
    top: -15%;
    left: 23%;
  }
}

#card-seven {
  grid-area: card-seven;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 0.94rem;
  padding-right: 0;
  background-color: white;
}
@media (max-width: 375px) {
  #card-seven {
    padding: 1.5rem;
    margin-top: 6.8rem;
    margin-bottom: -2.3rem;
  }
}
#card-seven p:nth-of-type(1) {
  font-size: 2.7rem;
  line-height: calc(1.5rem + 0px);
  letter-spacing: -2.5px;
  font-weight: 500;
  position: relative;
  top: 0.3rem;
}
#card-seven p:nth-of-type(1) span {
  position: relative;
  top: -0.25rem;
}
#card-seven p:nth-of-type(2) {
  font-size: 0.8rem;
  font-weight: 500;
  width: 100%;
  letter-spacing: -0.02rem;
}
@media (max-width: 375px) {
  #card-seven p:nth-of-type(2) {
    font-size: 1.2rem;
  }
}
#card-seven img {
  width: 80%;
}
@media (max-width: 375px) {
  #card-seven img {
    width: 60%;
  }
}

#card-eight {
  grid-area: card-eight;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.94rem;
  padding-right: 0;
  gap: 0.1rem;
  background-color: hsl(256, 67%, 59%);
}
@media (max-width: 375px) {
  #card-eight {
    margin-top: 4.5rem;
    margin-bottom: -6.8rem;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
#card-eight img {
  width: 9.7rem;
}
@media (max-width: 375px) {
  #card-eight img {
    width: 100%;
  }
}
#card-eight p {
  font-size: 1.7rem;
  line-height: calc(1.5rem + 0px);
  letter-spacing: calc(-2.5px + 0.05rem);
  font-weight: 500;
  color: white;
}
@media (max-width: 375px) {
  #card-eight p {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.5rem;
    letter-spacing: calc(-2.5px + 0.1rem);
    font-weight: 550;
  }
}

@keyframes icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 96%);
}

.container {
  width: 724px;
  height: 596px;
  display: grid;
  grid-template-columns: repeat(4, 10.563rem);
  grid-template-rows: 1.33fr 10.563rem 10.563rem;
  gap: 16px;
  grid-template-areas: "card-one card-two card-two card-three" "card-four card-five card-six card-three" "card-four card-seven card-eight card-eight";
}
.container * {
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.06);
  transition: transform 190ms ease-in-out;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.05);
}

@media (561px <= width <= 746px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 2rem auto;
  }
  .container {
    width: 33.69rem;
    height: 100%;
    padding: 0;
    grid-template-columns: repeat(3, 10.563rem);
    grid-template-rows: 14.049rem 10.563rem 10.563rem 10.563rem;
    gap: 1rem;
    grid-template-areas: "card-two card-two card-three" "card-one card-five card-three" "card-four card-six card-seven" "card-four card-eight card-eight";
  }
}
@media (376px <= width <= 560px) {
  html {
    overflow: visible;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 2rem auto;
  }
  .container {
    width: 22.13rem;
    height: 100%;
    padding: 0;
    grid-template-columns: repeat(2, 10.563rem);
    grid-template-rows: 14.049rem 10.563rem 10.563rem 10.563rem 10.563rem 10.563rem;
    gap: 1rem;
    grid-template-areas: "card-two card-two" "card-three card-three" "card-one card-five" "card-four card-six " "card-four card-seven" "card-eight card-eight";
  }
}
@media (max-width: 375px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .container {
    min-width: max(100vw, 375px);
    height: 100%;
    padding: 1rem;
    margin-bottom: 1.2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 18rem 9.5rem repeat(6, 18rem);
    gap: 1rem;
    grid-template-areas: "card-two" "card-five" "card-six" "card-three" "card-eight" "card-seven" "card-one" "card-four";
  }
  .card:hover {
    transform: scale(1);
  }
}/*# sourceMappingURL=styles.css.map */